body {
    background-color: #f0f8ff; /* need to change to the proper color */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-heading {
    text-align: center;
    margin-bottom: 20px;
}

#login_form {
    width: 300px;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
}

#login_error_message {
    color: red;
}